<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="modal-body">
        <!-- Project Details Go Here -->
        <h2 class="text-uppercase">Kosmonosy</h2>
        <p class="item-intro text-muted">Oprava opěrné zdi</p>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="img/portfolio/kosmonosy/1.jpg" alt="1. slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/portfolio/kosmonosy/2.jpg" alt="2. slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/portfolio/kosmonosy/3.jpg" alt="3. slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/portfolio/kosmonosy/4.jpg" alt="4. slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/portfolio/kosmonosy/5.jpg" alt="5. slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/portfolio/kosmonosy/6.jpg" alt="6. slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/portfolio/kosmonosy/7.jpg" alt="7. slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <p>V tomto projektu se realizovala oprava opěrné zdi kolem zámku - chráněné památky.</p>
        <ul class="list-inline">
          <li>Datum: 2014</li>
          <li>Klient: Město Kosmonosy</li>
        </ul>
        <button class="btn btn-primary" data-dismiss="modal" type="button">
          <i class="fas fa-times"></i>
          Zavřít projekt</button>
      </div>
    </div>
  </div>
</div>
