<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="modal-body">
        <!-- Project Details Go Here -->
        <h2 class="text-uppercase">--</h2>
        <p class="item-intro text-muted">--</p>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="img/portfolio/1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/portfolio/2.jpg" alt="Second slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <p>--</p>
        <ul class="list-inline">
          <li>Datum: --</li>
          <li>Klient: --</li>
        </ul>
        <button class="btn btn-primary" data-dismiss="modal" type="button">
          <i class="fas fa-times"></i>
          Zavřít projekt</button>
      </div>
    </div>
  </div>
</div>
