<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="modal-body">
        <!-- Project Details Go Here -->
        <h2 class="text-uppercase">Dobřejovice</h2>
        <p class="item-intro text-muted">Komletní úpravy kolem mateřské školy</p>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="img/portfolio/dobrejovice/1.jpg" alt="1. slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/portfolio/dobrejovice/2.jpg" alt="2. slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/portfolio/dobrejovice/3.jpg" alt="3. slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/portfolio/dobrejovice/4.jpg" alt="4. slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/portfolio/dobrejovice/5.jpg" alt="5. slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/portfolio/dobrejovice/6.jpg" alt="6. slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <p>V tomto projektu se realizovala komletní úprava kolem mateřské školy. Provádělo se pokládání chodníků, osazení oplocení a hracích prvků.</p>
        <ul class="list-inline">
          <li>Datum: 2016</li>
          <li>Klient: Obec Dobřejovice</li>
        </ul>
        <button class="btn btn-primary" data-dismiss="modal" type="button">
          <i class="fas fa-times"></i>
          Zavřít projekt</button>
      </div>
    </div>
  </div>
</div>
